body {
    margin: 0;
    background-color : hsl(212, 45%, 89%) ;
    font-family: 'Outfit', sans-serif;
}
div {
    position: relative;
    margin: 200px auto 200px auto;
    width: 280px;
    height: 500px;
    padding: 20px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
}
img {
    border-radius: 10px;
    width: 280px;
    height: 280px;
}
h2 {
    text-align: center;
   
    
}
p {
    text-align: center;
}